<div class="page-header">
	<h1>Dashboard</h1>
</div>

<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail wd-btn">
        <a href="/admin/activateDomain" id="add-domain">
            <h3>Activar Dominio</h3>
            <p>Activar un dominio para permitir al administrador el uso de la app.</p>
        </a>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail wd-btn">
        <a href="/admin/listDomains" id="list-domains">
            <h3>Dominios</h3>
            <p>Comprueba el estado de los dominios así como las licencias.</p>
        </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail wd-btn">
		<a href="/admin/exec-log" id="list-domains">
    		<h3>Log</h3>
    		<p>Sigue la ejecución de los procesos.</p>
        </a>
    </div>
  </div>
</div>

