<div class="page-header">
	<p>Admin Dashboard</p>
</div>

<ul class="thumbnails">
  <li class="span4 offset2">
    <div class="thumbnail">
		<a href="/admin/activateDomain" id="add-domain">
		  <div id="imgBtnDiv" width="15px" height="15px">
			<img src="img/add-domain.png" alt="Add domain">
		  </div>
		</a>
		<h3>Activate Domain</h3>
		<p>Activate a new domain to allow the administrator to access the app.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
		<a href="/admin/listDomains" id="list-domains">
		    <div id="imgBtnDiv2" width="15px" height="15px">
				<img src="img/list-domains.png" alt="List domains">
		    </div>
		  </a>
		<h3>Domains</h3>
		<p>Check the status of all the domains registered in the app. Also change their status.</p>
    </div>
  </li>
</ul>

