<div class="page-header">
	<p>Admin Dashboard</p>
</div>

<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail">
        <a href="/admin/activateDomain" id="add-domain">
            <h3>Activate Domain</h3>
            <p>Activate a new domain to allow the administrator to access the app.</p>
        </a>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail">
        <a href="/admin/listDomains" id="list-domains">
            <h3>Domains</h3>
            <p>Check the status of all the domains registered in the app. Also change their status.</p>
        </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail">
		<a href="/admin/exec-log" id="list-domains">
    		<h3>Log</h3>
    		<p>Check processes status.</p>
        </a>
    </div>
  </div>
</div>

