<section id="discover-page">

    <div class="page-header">
        <h1>Encuentra ficheros</h1>
    </div>

    <div id="discover-container"></div>

</section>

<div id='childFoldersForm' class="hiddenForm">
  <form method='POST' action='/domain/child-folders' name='child-folders-form' id='child-folders-form'>
    <fieldset>
      <input name='sortedIdsStr' id='sortedIdsStrForChildFolders' />
    </fieldset>
  </form>
</div>
