<div class="page-header">
  <h1><span class="domain-name"><%= @domain %></span> Dashboard</h1>
</div>

<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail">
        <a id="users" href="/domain/users">
          <h3>Usuarios</h3>
          <p>Comprueba los usuarios de tu dominio.</p>
        </a>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail">
      <a id="config" href="/domain/common-folders-page">
        <h3>Directorios centrales</h3>
        <p>Directorios que penden de la raiz de la cuenta de documentaci칩n y que ser치n explorados en busca de archivos.</p>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail">
        <a id="users" href="/domain/discover">
          <h3>Encontrar</h3>
          <p>Encuentra ficheros a los que se debe cambiar la propiedad.</p>
        </a>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail">
      <a id="config" href="/domain/pending">
        <h3>Ficheros pendientes</h3>
        <p>Comprueba los ficheros que est치n pendientes de cambio de propiedad.</p>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail">
      <a id="config" href="/domain/changed">
        <h3>Ficheros cambiados</h3>
        <p>Comprueba los ficheros que est치n cambiados de propiedad.</p>
      </a>
    </div>
  </div>
</div>
