<div class="page-header">
  <p><span class="domain-name"><%= @domain %></span> Dashboard</p>
</div>

<div class="row">
  <div class="span4 offset2">
    <div class="thumbnail">
        <a id="users" href="/domain/users">
          <h3>Users</h3>
          <p>Check your domain users. Users in subdomains and associated domains will be included.</p>
        </a>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail">
      <a id="config" href="/domain/pending">
        <h3>Pending Files</h3>
        <p>Check discovered files to change their ownership.</p>
      </a>
    </div>
  </div>
</div>
