<div class="page-header">
	<h1>Users</h1>
</div>

<p class="lead">
    Usuarios de dominio para: <span class="domain"><%= @domain %></span>
</p>

<table class="table table-striped users no_caducity" id="users">
	<thead>
		<tr><th>Email</th><th><input type="checkbox" id="select_all" /></th></tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr class="user">
				<td id="userName"><%= user.email %></td>
				<td><input type="checkbox" class="select_files" id="<%= user.name %>" value="<%= user.email %>"/></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div id='childFoldersForm' class="hiddenForm">
  <form method='POST' action='/domain/child-folders' name='child-folders-form' id='child-folders-form'>
    <fieldset>
      <input name='sortedIdsStr' id='sortedIdsStrForChildFolders' />
    </fieldset>
  </form>
</div>

<button id="childFoldersBtn" class="btn btn-large btn-primary">
  Ejecutar
</button>

<div id='getProposalsForm' class="hiddenForm">
  <form method='POST' action='/domain/get-proposals' name='get-proposals-form' id='get-proposals-form'>
    <fieldset>
      <input id='sortedIdsStrForGetProposals' name='sortedIdsStr' />
    </fieldset>
  </form>
</div>

<button id="getProposalsBtn" class="btn btn-large btn-primary">
  Ver Pendientes
</button>

  <script>
  	window.onload = function(){
  		$('#select_all').click(function(){
			checkboxes = $( "input[type='checkbox']" );
			for (var i = checkboxes.length - 1; i >= 0; i--) {
				$(checkboxes[i]).attr('checked', $(this).attr('checked')?$(this).attr('checked'):false);
			};
  		});
      $("#childFoldersBtn").click(function(){
        $(this).spin(APP.spinOpts);
            var users = $('tbody').find($( "input:checked" ));
            var for_files = [];
            for (var i = users.length - 1; i >= 0; i--) {
              for_files.push(users[i].value);
            };
            $('#sortedIdsStrForChildFolders').val(for_files.join());
            $('#child-folders-form').submit();
          });
      $("#getProposalsBtn").click(function(){
            var users = $('tbody').find($( "input:checked" ));
            var for_files = [];
            for (var i = users.length - 1; i >= 0; i--) {
              for_files.push(users[i].value);
            };
            $('#sortedIdsStrForGetProposals').val(for_files.join());
            $('#get-proposals-form').submit();
          });
  	};
  </script>

