<section id="files-changed-page">
  <div class="page-header">
      Domain Drive Files Changed
  </div>

  <table class="table table-striped" id="files">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Old Owner</th>
        <th>New Owner</th>
        <th>Parent</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>