<table id="domains" class="table table-striped domains" >
	<thead>
		<tr><th>Active Domains</th></tr>
	</thead>
	<tbody>
		<% @domains.each do |domain| %>
			<tr class="domain-record">
				<td><span><%= domain %></span></td>
				<td>
					<a onclick="desactivateDomain('<%= domain %>')" id="desactivate">
						<img src="img/desactivate-domain.png" alt="Desactivate" />
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<table id="inactive-domains" class="table table-striped domains" >
	<thead>
		<tr><th>Inactive Domains</th></tr>
	</thead>
	<tbody>
		<% @inactive.each do |domain| %>
			<tr class="domain-record">
				<td><span><%= domain %></span></td>
				<td>
					<a onclick="activateDomain('<%= domain %>')" id="activate">
						<img src="img/activate-domain.png" alt="Activate" />
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div style="display:none;">
<form method="post" action="/admin/desactivateDomain" id="desactivate-form">
	<input type="hidden" name="domain" id="domain-to-desactivate"/>
	<button id="desactivate" type="submit">
		<img src="img/desactivate-domain.png" alt="Desactivate" />
	</button>
</form>
<form method="post" action="/admin/activateDomain" id="activate-form">
	<input type="hidden" name="domain" id="domain-to-activate"/>
	<button id="activate" type="submit">
		<img src="img/activate-domain.png" alt="Activate" />
	</button>
</form>
</div>
<script type="text/javascript">
	function desactivateDomain(domain){
		$('#domain-to-desactivate').val(domain);
		$('#desactivate-form').submit();
	}
	function activateDomain(domain){
		$('#domain-to-activate').val(domain);
		$('#activate-form').submit();
	}
</script>