<p class="lead">
    Files
</p>

<fieldset>
	<input name='newOwner' id='newOwner' />
</fieldset>

<table class="table table-striped" id="files">
	<thead>
		<tr><th>Title</th><th>Owner</th></tr>
	</thead>
	<tbody>
		<% @files.to_a.each do |file| %>
			<tr class="file-record">
				<td><%= file.title %></td><td><%= file.owners %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div id='hiddenForm'>
	<form method='POST' action='/changePermissions' name='changePermissions-form' id='changePermissions-form'>
	  <fieldset>
	    <input name='filesIdsStr' id='filesIdsStr' value="<%= @files.to_s %>"/>
		<input name='newOwnerHidden' id='newOwnerHidden' />
	  </fieldset>
	</form>
</div>

<button id="changePermissions" class="btn arrange" >
	<div id="imgBtnDiv" width="15px" height="15px">
		<img src='img/slides.png' alt='Generate slideshow' id="submitImg"/></div>
</button>

  <script>
  	window.onload = function(){
  		$("#changePermissions").click(function(){
  					$('#newOwnerHidden').val($('#newOwner').val());
  					$('#changePermissions-form').submit();
				      $('#submitImg').css('visibility', 'hidden');
				      $('#imgBtnDiv').spin(APP.spinOpts);
  				});
  	};
  </script>

