<p class="title">
	Files
</p>

<table class="table table-striped" id="files">
	<thead>
		<tr><th>Title</th><th>Owner</th></tr>
	</thead>
	<tbody>
		<% @files.to_a.each do |file| %>
			<tr class="file-record">
				<td><%= file.title %></td><td class="owner"><span><%= file.owners %></span></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div id='hiddenForm'>
	<form method='POST' action='/changePermissions' name='changePermissions-form' id='changePermissions-form'>
	  <fieldset>
	    <input name='filesIdsStr' id='filesIdsStr' value="<%= @files.to_s %>"/>
		<input name='newOwnerHidden' id='newOwnerHidden' />
	  </fieldset>
	</form>
</div>

<% if !@users.nil? && !@users.empty? %>
	<fieldset>
		<label>New Owner</label>
		<div class="input-append">
	  		<select name='newOwner' id='newOwner'>
				<% @users.each do |user| %>
					<option><%= user %></option>
				<% end %>
			</select>
			<button id="changePermissions" class="btn arrange" >
				<div id="imgBtnDiv" width="15px" height="15px">
					<img src='img/transfer.png' alt='Transfer Ownership' id="submitImg"/></div>
			</button>
		</div>
	</fieldset>
<% end %>

  <script>
  	window.onload = function(){
  		$("#changePermissions").click(function(){
  					$('#newOwnerHidden').val($('#newOwner').val());
  					$('#changePermissions-form').submit();
				      $('#submitImg').css('visibility', 'hidden');
				      $('#imgBtnDiv').spin(APP.spinOpts);
  				});
  	};
  </script>

