<div class="page-header">
    Request Activation
</div>

<a href="/requestActivation" class="btn btn-large" id="request-activation">
	<img src="img/request-activation.png" alt="Request Activation">
</a>