<div class="row-fluid">
  <div class="span8">
    <% if !@message.empty? %>
      <div class="alert">
      	<button type="button" class="close" data-dismiss="alert">&times;</button>
      	<strong><%= @message %></strong>
      </div>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <p class="lead">
        <span class="domain"><%= @domain %></span> Dashboard
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <fieldset>
      <a id="users" class="btn arrange" href="/users">
        <div id="imgBtnDiv" width="15px" height="15px">
          <img src='img/users.png' alt='Arrange' id="usersImg"/>
        </div>
        <label>Domain Users</label>
      </a>
      <div id="loading"></div>
    </fieldset>
  </div>
  <div class="span6">
    <fieldset>
      <a id="config" class="btn arrange" href="/config">
        <div id="imgBtnDiv2" width="15px" height="15px">
          <img src='img/clock-small.png' alt='Arrange' id="configImg"/>
        </div>
        <label>Scheduled Execution</label>
      </a>
      <div id="loading"></div>
    </fieldset>
  </div>
</div>

<script>
  window.onload = function(){
    $("#users").bind('click', function(event){
      $('#usersImg').css('visibility', 'hidden');
      $('#imgBtnDiv').spin(APP.spinOpts);
    });
    $("#config").bind('click', function(event){
      $('#configImg').css('visibility', 'hidden');
      $('#imgBtnDiv2').spin(APP.spinOpts);
    });
  };
</script>
