<div class='hero-unit'>
  <p>Easily change permissions for all drive files in your Google Domain!</p>
</div>

<% if !@message.empty? %>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><%= @message %></strong>
	</div>
<% end %>

<form method='POST' action='/users' name='url_form' id='url_form'>
  <fieldset>
    <label>Email</label>
    <div class="input-append">
      <input type="text" placeholder="Insert your email" name='email' id='email'/>
    </div>
    <label>Password</label>
    <div class="input-append">
      <input type="password" placeholder="Insert your password" name='password' id='password'/>
      <button type='submit' id="submit" class="btn arrange">
        <div id="imgBtnDiv" width="15px" height="15px"><img src='img/arrange.png' alt='Arrange' id="submitImg"/></div>
      </button>
    </div>
    <div id="loading"></div>
  </fieldset>
</form>

<script>
  window.onload = function(){
    $("#submit").bind('click', function(event){
      $('#submitImg').css('visibility', 'hidden');
      $('#imgBtnDiv').spin(APP.spinOpts);
    });

  };
</script>