<div class="page-header">
    Log
</div>

<table class="table table-striped" id="files">
	<thead>
		<tr><th>Domain</th><th>User</th><th>Message</th><th>When</th></tr>
	</thead>
	<tbody>
		<% @log.records.each do |record| %>
			<tr class="file-record">
				<td><%= record.domain %></td>
				<td><span><%= record.user %></span></td>
				<td><span><%= record.message %></span></td>
				<td><span><%= record.when %></span></td>
			</tr>
		<% end %>
	</tbody>
</table>

