<div class="page-header">
	Users
</div>

<p class="lead">
    Domain Users for: <span class="domain"><%= @domain %></span>
</p>

<table class="table table-striped users no_caducity" id="users">
	<tbody>
		<% @userNames.each do |user| %>
			<tr class="user">
				<td id="userName"><%= user.email %></td>
				<td><input type="checkbox" class="select_files" id="<%= user.name %>" value="<%= user.email %>"/></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div id='hiddenForm'>
	<form method='POST' action='/domain/files' name='files-form' id='files-form'>
	  <fieldset>
	    <input name='sortedIdsStr' id='sortedIdsStr' />
	  </fieldset>
	</form>
</div>

<button id="getFiles" class="btn arrange">
	<div id="imgBtnDiv" width="15px" height="15px">
		<img src='img/files.png' alt='Generate slideshow' id="submitImg"/>
	</div>
</button>

  <script>
  	window.onload = function(){
  		$("#getFiles").click(function(){
  					var users = $( "input:checked" );
  					var for_files = [];
  					for (var i = users.length - 1; i >= 0; i--) {
  						for_files.push(users[i].value);
  					};
  					$('#sortedIdsStr').val(for_files.join());
  					$('#files-form').submit();
				      $('#submitImg').css('visibility', 'hidden');
				      $('#imgBtnDiv').spin(APP.spinOpts);
  				});
  	};
  </script>

